inputs/inputs_scenarios/2021_03_17_cross_continental/inputs/L_0_HOSTDENSITY.txt filter=lfs diff=lfs merge=lfs -text
inputs/process_polys/cassava_host_poly_stats/stats_custom_level2.gpkg filter=lfs diff=lfs merge=lfs -text
inputs/process_polys/cassava_host_poly_stats/stats_level2.gpkg filter=lfs diff=lfs merge=lfs -text
inputs/process_polys/gadm36_levels_gpkg/gadm36_level2_africa.gpkg filter=lfs diff=lfs merge=lfs -text
inputs/inputs_raw/polygons/polys_2_host_default.gpkg filter=lfs diff=lfs merge=lfs -text
inputs/inputs_scenarios/2021_10_15_endemic_seed/inputs/L_0_HOSTDENSITY.txt filter=lfs diff=lfs merge=lfs -text
inputs/inputs_scenarios/2021_10_21_cross_continental_endemic/inputs/L_0_HOSTDENSITY.txt filter=lfs diff=lfs merge=lfs -text
inputs/inputs_scenarios/2022_03_02_endemic_seed/inputs/L_0_HOSTDENSITY.txt filter=lfs diff=lfs merge=lfs -text
inputs/inputs_raw/polygons/polys_2_host_CassavaMap.gpkg filter=lfs diff=lfs merge=lfs -text
